<article class="message">
  <div class="message-header">
    <p>From: <%= comment.commenter%></p>
    <%# <button class="delete" aria-label="delete"></button> %>
  </div>
  <div class="message-body">
    <%= comment.body%>
  </div>
</article>
