<section class="hero">
  <div class="hero-body">
    <p class="title">
      Update Article
    </p>
  </div>
</section>
<div class="column is-three-fifths is-offset-one-fifth">
  <%= render "articles/partials/form", article: @article, locals: {path: article_path, button_label: "Edit Article", style: "button is-warning is-light", cancel_label: "Cancel"} %>
</div>
