<div class="column is-10 is-offset-1">
  <h1 class="is-size-3">Update Article</h1>
</div>
<div class="column is-10 is-offset-1">
  <%= render "articles/partials/form", article: @article, locals: {path: article_path, submit_label: "Edit Article", style: "button is-warning is-light", cancel_label: "Cancel"} %>
</div>
