<section class="hero">
  <div class="hero-body">
    <p class="title">
      All Articles
    </p>
  </div>
</section>
<div class="columns">
  <div class="column">
    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <div class="buttons">
    <button class="button is-info is-light"><%= link_to "New article", new_article_path %> </button>
  </div>
</div>
