<div class="column is-10 is-offset-1">
  <h1 class="is-size-3 has-text-weight-bold">All Articles</h1>
</div>
<div class="column is-10 is-offset-1">
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
  <div class="buttons mt-3">
    <%= link_to new_article_path, class: "button is-info is-light" do %>
      <i class="fa fa-file" aria-hidden="true"> </i>&nbsp;New Article
    <% end %>
  </div>
</div>
